@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: #111;
  color: #fff;
}

#tasklist {
  scrollbar-width: none;
}

#tasklist::-webkit-scrollbar{
  display: none;
}
#alltasks::-webkit-scrollbar{
  display: none;
}